.modal-wrap {
    width: 100%;
    background-color: #9e3b3b;
    height: 600px;
    text-align: center;
}

h1 {
  margin: 0 auto;
}

ul {
  width: 40%;
  margin: 0 auto;
}

li span { 
  position: relative; 
  left: -30px; 
}